@charset "UTF-8";
/*Функція для отримання властивостей шрифтів*/
/*Функція для отримання палітри кольорів*/
/*Обнулення стилів браузера*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Бокс для зображень*/
.box-image {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/*Фон сторінки та головний шрифт*/
.body-general {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/*Контейнер контенту - ширина 1200px*/
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Головний блок для контенту*/
.main-content {
  background-color: inherit;
  flex: 1 0 auto;
}

/*Бокс для списків*/
.box-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.box-list__item {
  margin: 15px;
}

/*Бекдроп*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-comment, .modal-form__input-name,
.modal-form__input-phone,
.modal-form__input-email {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.01em;
  color: #212121;
  transition-property: color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Утилітна секція*/
.section {
  padding: 94px 0;
}

/*Замовлення*/
.section-order {
  /*height: 600px;*/
  padding: 200px 0;
  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Чим ми займаємося*/
.section-our-work {
  padding-top: 0;
  padding-bottom: 94px;
}

/*Наша команда*/
.section-team {
  background-color: #F5F4FA;
}

/*Логотип*/
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:focus {
  transform: scale(1.1);
}
.logo:hover {
  transform: scale(1.2);
}

.logo__prefix {
  font-weight: 700;
  line-height: 1.2;
  color: #2196F3;
}

/*Контакти*/
.contact-link {
  display: flex;
  position: relative;
  padding: 32px 0 31px;
  align-items: center;
  color: #757575;
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*Декоративний елемент для контактів*/
}
.contact-link:focus {
  color: #188ce8;
  fill: currentColor;
}
.contact-link:hover {
  color: #2196F3;
  fill: currentColor;
}

.contact-link__image {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

/*Замовлення*/
.title-order {
  margin: 0 auto 30px;
  max-width: 600px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*Секції*/
.title-section {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/*Футер*/
.title-footer {
  font-size: inherit;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/*Модальне вікно*/
.title-modal {
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/*Замовлення*/
.button {
  background: #2196F3;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  user-select: none;
  cursor: pointer;
  transition-property: background-color box-shadow text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover, .button:active {
  background: #188ce8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/*Кнопка закриття модального вікна*/
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--logo-color);
}

.button-close__image {
  display: block;
  width: 11px;
  height: 11px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus .button-close__image,
.button-close:hover .button-close__image {
  fill: #2196F3;
}

/*Секція постерів*/
/*Фільтр*/
.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  background: #F5F4FA;
  padding: 6px 22px;
  font-weight: inherit;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  box-shadow: none;
  transition-property: background-image color box-shadow text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:focus, .filter-list__button:hover {
  color: #FFFFFF;
}
.filter-list__button:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

/*Соціальці мережі*/
.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: flex;
  width: 44px;
  height: 44px;
}
.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*Футер - Приєднуйтесь*/
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #188ce8;
  color: #FFFFFF;
}
.social-list__link:hover {
  background-color: #2196F3;
}
.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.social-list__image {
  display: block;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__image:hover, .social-list__image:focus {
  fill: currentColor;
}

/*Модальне вікно*/
.modal-box {
  position: absolute;
  width: 528px;
  /*height: 581px;*/
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Форма модального вікна*/
.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form__label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__label-box {
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: baseline;
}

.modal-form__label-conditions {
  display: block;
  padding-left: 23px;
  padding-top: 2px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  user-select: none;
}

.modal-form__input-box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.modal-form__input-comment::placeholder {
  /* font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em; */
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input-comment--textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-form__input-image {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-name:focus,
.modal-form__input-phone:focus,
.modal-form__input-email:focus,
.modal-form__input-comment:focus {
  outline: transparent;
  border: 1px solid #2196F3;
  border-radius: 4px;
  caret-color: #2196F3;
  color: #2196F3;
}

.modal-form__input-name:focus + .modal-form__input-image,
.modal-form__input-phone:focus + .modal-form__input-image,
.modal-form__input-email:focus + .modal-form__input-image {
  fill: #2196F3;
}

.modal-form__input-conditions {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__box-conditions {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: background-color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__image-conditions {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-conditions:focus + .modal-form__box-conditions {
  border: 2px solid #2196F3;
}

.modal-form__input-conditions:checked:focus + .modal-form__box-conditions {
  border: 2px solid #188ce8;
  background-color: #188ce8;
}

.modal-form__input-conditions:checked + .modal-form__box-conditions {
  border: 2px solid #2196F3;
  background-color: #2196F3;
}

.modal-form__input-conditions:checked ~ .modal-form__image-conditions {
  fill: #FFFFFF;
}

.modal-form__link-conditions {
  position: relative;
  color: #2196F3;
}
.modal-form__link-conditions:hover {
  color: #188ce8;
}
.modal-form__link-conditions:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0.11em;
  width: 100%;
  height: 1px;
  background-color: #2196F3;
}

.modal-form__link-conditions:hover .modal-form__link-conditions:after {
  background-color: #188ce8;
}

.modal-form__button {
  margin: 0 auto;
  padding: 10px 55px;
}

/*Хедер*/
.header {
  /*height: 80px;*/
  border-bottom: 1px solid #ECECEC;
}

/*Обгортка для хедеру та блок навігації*/
.header__wrapper {
  display: flex;
  align-items: center;
}

/* Блок навігації */
.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: 93px;
  /*Контакти*/
}
.header__list--contacts {
  margin-left: auto;
}
.header__list--contacts .header__item:not(:first-child) {
  margin-left: 30px;
}
.header__list--contacts .header__item::before {
  display: none;
}

.header__item {
  position: relative;
  /*Декоративний елемент навігації*/
}
.header__item::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background-color: #2196F3;
  border-radius: 2px;
  animation-name: animation-underline-none;
  animation-duration: 250ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:focus::before {
  animation-name: animation-underline;
  animation-duration: 250ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover::before {
  animation-name: animation-underline;
  animation-duration: 250ms;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:not(:first-child) {
  margin-left: 50px;
}

.header__link {
  display: block;
  position: relative;
  color: #212121;
  padding: 32px 0 31px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*Декоративний елемент навігації*/
}
.header__link:focus {
  color: #188ce8;
}
.header__link:hover {
  color: #2196F3;
}

/*Контакти*/
/*Про нас*/
/*Наші цілі*/
.about-item {
  max-width: 270px;
}

.about-item__box {
  /*height: 120px;*/
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
  text-align: center;
}

.about-item__image {
  display: inline;
}

.about-item__title {
  margin-bottom: 10px;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-item__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Наше покликання*/
.work-item {
  position: relative;
  max-width: 370px;
}

.work-item__category {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding: 27px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: inherit;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

/*Кадровий апарат*/
.team-item {
  max-width: 270px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-item__name {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item__name--job {
  padding-top: 0;
  padding-bottom: 16px;
  font-weight: 400;
  color: #757575;
}

.team-item .social-list {
  margin-bottom: 30px;
}

/*Клієнти*/
/*Клієнтура*/
.client-item {
  display: block;
  width: 170px;
  height: 92px;
}

.client-item__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item__link:focus {
  outline: transparent;
  border: 1px solid #188ce8;
  color: #188ce8;
}
.client-item__link:hover {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.client-item__logo {
  display: block;
  fill: currentColor;
}
.client-item__logo:hover, .client-item__logo:focus {
  fill: currentColor;
}

/*Постери*/
.poster-item {
  max-width: 370px;
  /*width: calc((100% - 90px) / 3);*/
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.poster-item:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.poster-item__overlay {
  position: relative;
  overflow: hidden;
}

.poster-item__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.poster-item:hover .poster-item__title {
  transform: translateY(0);
}

.poster-item__label {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 23px 19px;
}

.poster-item__name {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.poster-item__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Футер*/
.footer {
  /*height: 252px;*/
  background-color: #2F303A;
  padding: 60px 0;
}

/*Обгортка для футера*/
.footer__wrraper {
  display: flex;
  align-items: baseline;
}

.footer__contacts,
.footer__address {
  display: block;
}

.footer__logo {
  color: #FFFFFF;
}

.footer__address {
  margin-top: 20px;
}

/*Адреса футера*/
.footer__address-list {
  display: flex;
  flex-direction: column;
}

.footer__address-item:not(:first-child) {
  margin-top: 9px;
}

.footer__address-link,
.footer__contact-link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link {
  position: relative;
}
.footer__address-link:focus {
  color: #188ce8;
}
.footer__address-link:hover {
  color: #2196F3;
}

.footer__contact-link {
  display: inline;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer__join {
  margin-left: 70px;
}

.footer__subscription {
  margin-left: auto;
}

/*Форма на розсилку*/
.footer__form {
  /*width: 570px;*/
  display: flex;
}

.footer__input-email {
  outline: transparent;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
  caret-color: #2196F3;
  color: #2196F3;
}

.footer__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  padding: 10px 28px 10px 29px;
}

.footer__button-image {
  display: inline-block;
  fill: currentColor;
}

/*Вказівник навігації для поточної сторінки*/
.current {
  color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /*Декоративний елемент вказівника для навігації*/
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current:focus {
  color: #188ce8;
}
.current:hover {
  color: #2196F3;
}
.current:focus::after {
  background-color: #188ce8;
}
.current:hover::after {
  background-color: #2196F3;
}

/*Приховування елементів*/
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Вказівник навігації для фільтра постерів*/
.cheсked {
  background: #188ce8;
  color: #FFFFFF;
}

/*Приховування модального вікна бекдропа*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  /*Модальне вікно*/
}
.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0);
}

/*Анімації ховеру та фокусу для псевдоелемента навігації*/
@keyframes animation-underline {
  0% {
    left: 0;
    width: 0;
    background-color: #188ce8;
  }
  100% {
    left: 0;
    width: 100%;
    background-color: #188ce8;
  }
}
@keyframes animation-underline-none {
  0% {
    right: 0;
    width: 100%;
    background-color: #188ce8;
  }
  100% {
    right: 0;
    width: 0;
    background-color: #188ce8;
  }
}/*# sourceMappingURL=main.css.map */